<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= mytitle %></title>
    <link rel="stylesheet" href="master.css" />
  </head>
  <body>
    <h1>What is your UseName?</h1>
    <form action="/" method="post">
      <input name="UserName" type="text" />
      <br />
      <br />
      <button>Send to MongoDB</button>
    </form>
    <h1>Your Name is <%= arr[0].UserName %></h1>
  </body>
</html>
